<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root,
:root[data-theme='dark'] {
=======
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
<<<<<<< HEAD
  --primary-border-color: #28292E;
  --secondary-border-color: #56575A;
=======
  --border-color: #28292E;
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034

  --title-color: #9A9A9C;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

<<<<<<< HEAD
:root[data-theme='light'] {
  --primary-color: #0B0B0F;

  --primary-bg-color: #E9E9E9;
  --secondary-bg-color: #C7C8C9;
  --primary-border-color: #C7C8C9;
  --secondary-border-color: #C7C8C9;

  --title-color: #0B0B0F;
  --text-color: #28292E;
  --link-color: #28292E;
  --icon-color: #56575A;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}

=======
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
  font-family: 'Inter', sans-serif;
<<<<<<< HEAD
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
=======
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
}

body {
  background-color: var(--primary-bg-color);
}

<<<<<<< HEAD
=======
img[alt] {
  color: var(--primary-color);
}

>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
a {
  text-decoration: none;
}

<<<<<<< HEAD
a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

=======
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
i {
  color: var(--icon-color);
}

<<<<<<< HEAD
h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 200;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}

=======
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
<<<<<<< HEAD
  width: 100vw;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
=======
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
}

.header__brand .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header #toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
<<<<<<< HEAD
  cursor: pointer;
=======
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
}

.menu {
  display: flex;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.menu__item {
  width: 100%;
}

.menu--mobile {
  justify-content: space-between;
<<<<<<< HEAD
  border-top: 1px solid var(--primary-border-color);
=======
  border-top: 1px solid var(--border-color);
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.5rem 1rem;
}

.menu__link.active .menu__icon,
<<<<<<< HEAD
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
=======
.menu__link.active .menu__text {
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
  color: var(--primary-color);
  font-weight: 600;
}

<<<<<<< HEAD
=======
.menu__icon,
.menu__text {
  color: var(--text-color);
}

>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

<<<<<<< HEAD
.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem 1rem;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main__content2 iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem;
  background-color: var(--secondary-bg-color);
  margin-top: -5.5rem;
}

.skills h2 {
  font-size: 2rem;
  text-transform: none;
}

.skills__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.72rem;
}

.skills__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--secondary-border-color);
  border-radius: 3.125rem;
}

.skills__logo {
  height: 2.4rem;
}

.menu--social {
  gap: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
  background-color: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1.5rem;
  width: 100%;
}

.btn:hover {
  transform: scale(1.1);
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

.btn--primary span {
  color: var(--primary-color);
}

footer p {
  text-align: center;
  border-top: 1px solid var(--primary-border-color);
  padding: 0.75rem;
  margin-bottom: 4.375rem;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 6rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  h1 {
    font-size: 4rem;
  }

  main {
    padding: 8rem 6rem 6.25rem;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.5rem;
  }

  .skills {
    padding: 8rem 6rem 6.25rem;
    margin-top: -6rem;
  }

  footer p {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 12rem 6rem 2rem;
  }

  .main__content1 .btn {
    width: auto;
  }

  .skills {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 6rem 4rem;
  }

  .skills h2 {
    font-size: 3.5rem;
    width: 60%;
  }

  .skills__list {
    gap: 1rem;
  }

  .skills__item {
    width: 6rem;
    height: 6rem;
  }

  .skills__logo {
    height: 3rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  p {
    font-size: 1.5rem;
  }
  
  .header {
    padding: 1rem 15rem;
  }

  main {
    padding: 12rem 15rem 2rem;
  }

  .skills {
    padding: 10rem 15rem 4rem;
  }
=======
@media (min-width: 768px) {
  .menu {
    display: none;
  }
>>>>>>> 602879dbc985be408b7c09f5b5384796b098f034
}